@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.roboto-slab-400 {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.hidden-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* This is great and installed via this: https://github.com/ingmarh/scroll-shadow-element/tree/main */
scroll-shadow {
  display: inline-block;
  --scroll-shadow-size: 15;
  --scroll-shadow-top: radial-gradient(
    farthest-side at 50% 0%,
    rgba(0, 0, 0, 0.743),
    #00000001
  );
  --scroll-shadow-bottom: radial-gradient(
    farthest-side at 50% 100%,
    rgba(0, 0, 0, 0.732),
    #00000001
  );
  --scroll-shadow-left: radial-gradient(farthest-side at 0%, #0003, #0000);
  --scroll-shadow-right: radial-gradient(farthest-side at 100%, #0003, #0000);

  width: 100%;
}

input:focus {
  background-color: rgb(195, 233, 249);
  outline: none;
  box-shadow: 0 0 0 2px hsla(34, 100%, 50%, 0.8),
    inset 0 2px 4px 0 rgba(0, 0, 0, 0.7);
  transition: box-shadow 0.15s ease;
  color: rgb(6, 1, 83);
}
